body {
    background: black;
}


.schwifty {
    color:white;
    text-align: center;
    background:rgb(5, 5, 216);
    text-shadow: 2px 2px 2px rgb(240, 1, 1);
    font-size: 45px;
}

.search-form {
    display: flex;
    justify-content: center;
    color:white;
    text-shadow: 2px 2px 2px rgb(240, 1, 1);
    gap: 5px;
}

.results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    gap: 10px;
}

.details {
    text-align: center;
    background: rgb(5, 5, 178);
    padding: 3px;
    text-shadow: 2px 2px 2px rgb(239, 5, 5);
    color: white
}

.not-found {
    text-align: center;
    font-size: 80px;
    color: red;
    text-shadow: 3px 3px 3px black
}

.center {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px red
}